---
# Styles
---

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #3A3A3A;
    min-width: 320px;
}

* {
    box-sizing: border-box;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    line-height: 2.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.1rem;
    line-height: 2.2rem;
    display: inline;
    font-weight: 700;
    vertical-align: middle;
}

header {
    background-color: #0c2f4e;
    color: #ffffff;
    display: grid;
    align-items: center;
    grid-template-rows: 100px;
    width: 100%;
    text-align: center;
    padding: 10px;

    svg {
        height: auto;
        margin: 0 auto;
        width: 250px;

        @media (min-width: 600px) {
            width: 200px;
        }
    }
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;

    &--sub {
        fill: #333;
        width: 16px;
        height: 16px;
        margin: 0;
        vertical-align: sub;
    }
}

.portfolio {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 960px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1280px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &:hover {
        .repo {
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.repo {
    position: relative;
    padding: 30px;
    background: fade-out(#4078c0, 0.9);
    transition: .2s;
    min-height: 100%;
    padding-bottom: 75px;

    a {
        color: #4078c0;
        text-decoration: none;
    }

    > .icon {
        background: #4078c0;
    }


    > .buttons {
        bottom: 20px;
        position: absolute;

        .button {
            display: inline-block;
            border: 1px solid;
            bottom: 0px;
            padding: 3px 10px 4px;
            border-radius: 3px;
            transition: .2s;

            &:hover {
                background: fade-out(#fff, 0.5);
            }
        }
    }

    &--html {
        background: fade-out(#F16529, 0.9);

        .icon {
            fill: #F16529;
            background: transparent;
        }

        a {
            color: #F16529;
        }
    }

    &--css {
        background: fade-out(#29A9DF, 0.9);

        .icon {
            fill: #29A9DF;
            background: transparent;
        }

        a {
            color: #29A9DF;
        }
    }

    &--javascript {
        background: fade-out(#E8C917, 0.9);
        .icon {
            fill: #E8C917;
            background: transparent;
        }
        a {
            color: #E8C917;
        }
    }

    &--java {
        background: fade-out(#E8C917, 0.9);
        .icon {
            fill: #E8C917;
            background: transparent;
        }
        a {
            color: #E8C917;
        }
    }

    &--python {
        background: fade-out(#DC143C, 0.9);

        .icon {
            fill: #DC143C;
            background: transparent;
        }

        a {
            color: #DC143C;
        }
    }

    &--php {
        background: fade-out(#617CBE, 0.9);

        .icon {
            fill: #617CBE;
            background: transparent;
        }

        a {
            color: #617CBE;
        }
    }

    &--liquid {
        background: fade-out(#95BE46, 0.9);
        .icon {
            fill: #95BE46;
            background: transparent;
        }

        a {
            color: #95BE46;
        }
    }

    .details {
        position: absolute;
        font-size: .8rem;
        top: 15px;
        right: 20px;
        opacity: 0.75;
    
        span {
            margin-left: 16px;
        }
    }
}
