$gray: #d1d2d3;
$lightgray: #f0f0f0;
$darkgray: #3e3e3e;
$darkestgray: #555;
$lightestgray: #f7f7f7;

$black: #000;
$white: #fff;
$idealo_blue: #0a3761;
$idealo_orange: #ff6600;

$font-color-primary: $black;
$font-color-secondary: $white;

$background-color-primary: $idealo_blue;
$background-color-secondary: $idealo_blue;

.centeredContainer {
  max-width: 1200px;
  box-sizing: border-box;
}
